<!-- Footer -->
<footer class="text-center mt-5"
[ngClass]="uiService.isLightMode() ? ['bg-light', 'text-dark'] : ['bg-dark', 'text-light']">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
<!--    <section class="mb-4">-->

<!--      &lt;!&ndash; Github &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">-->
<!--        <fa-icon [icon]="['fab', 'github']" class="fa-2x"></fa-icon>-->
<!--      </a>-->

<!--      &lt;!&ndash; LinkedIn &ndash;&gt;-->
<!--      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">-->
<!--        <fa-icon [icon]="['fab', 'linkedin']" class="fa-2x"></fa-icon>-->
<!--      </a>-->
<!--    </section>-->
    <!-- Section: Text -->

    <section class="mb-4">
      <p>
        This is an example project made with
        <span class="text-danger fw-bold"><fa-icon [icon]="['fab','angular']"></fa-icon>ngular</span>
        and the
        <span class="text-success fw-bold">Spring Framework</span>
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
          <ul class="d-flex justify-content-evenly list-unstyled mb-0">
            <li>
              <a href="/about" [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'">About</a>
            </li>
            <li>
              <a href="terms_and_conditions" [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'">Terms of service</a>
            </li>
            <li>
              <a href="https://github.com/Goshenkata/grouper-frontend" [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'">Frontend repo</a>
            </li>
            <li>
              <a href="https://github.com/Goshenkata/grouper-api" [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'">Backend repo</a>
            </li>
          </ul>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->
