<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img class="me-2" id="logo" src="assets/images/logo.png" alt="Grouper logo">
      Grouper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex m-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="login"><button class="btn me-2 btn-secondary">Log in</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registration"><button class="btn btn-primary me-2 ">Sign up</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
