<div class="sticky-top">
  <nav class="px-3 navbar navbar-expand d-flex flex-row justify-content-between"
       [ngClass]="[
     uiService.isLightMode() ? 'navbar-light bg-light text-dark' : 'navbar-dark bg-dark text-light ',
     expand ? '' : 'shadow-sm border-bottom']">
    <!--    <div class="container-fluid d-flex justify-content-around">-->
    <a class="navbar-brand fw-bolder" href="#">
      <img class="me-2" id="logo"
           [src]="uiService.isLightMode() ? 'assets/images/logo.png' : 'assets/images/logo-dark.png'"
           alt="Grouper logo">
      <span
        class="d-none d-md-inline-block">
       Grouper
      </span>
    </a>
    <app-search></app-search>
    <ul
      *ngIf="userService.isLoggedOut()"
      class="d-none d-md-inline-block fl-row justify-content-end my-auto">
      <li class="nav-item d-inline-block m-1"
          (click)="switch()"
          (mouseover)="hoverThemeButton = true"
          (mouseout)="hoverThemeButton = false"
          [ngClass]="hoverThemeButton ? 'border border-1 border-secondary' : ''">
        <button class="border-0 bg-transparent">
          <fa-icon [icon]="uiService.isLightMode() ? ['fas', 'moon'] : ['fas', 'sun']"
                   [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'"
                   class="fa-2xl mx-1 pointer"></fa-icon>
        </button>
      </li>
      <li class="nav-item d-inline-block m-1">
        <a class="nav-link" routerLink="login">
          <button class="btn btn-secondary ">Log in</button>
        </a>
      </li>
      <li class="nav-item d-inline-block m-1">
        <a class="nav-link" routerLink="registration">
          <button class="btn btn-primary ">Sign up</button>
        </a>
      </li>
    </ul>
    <div class="d-flex"
         *ngIf="userService.isLoggedIn()">
      <a class="btn mx-1 bg-transparent border-secondary" href="submit"
         (mouseover)="hoverSubmitButton = true" (mouseout)="hoverSubmitButton = false"
         [ngClass]="[hoverSubmitButton ? 'border-1' : 'border-0', uiService.isLightMode() ? 'text-dark' : 'text-light']">
        <fa-icon [icon]="['fas', 'pen']" class="h5 me-sm-2"></fa-icon>
        <small class="h5 d-md-inline-block d-none">Submit</small>
      </a>
      <app-profile-widget>
      </app-profile-widget>
    </div>
    <button
      *ngIf="userService.isLoggedOut()"
      class="navbar-toggler text-dark d-block d-md-none" type="button" (click)="ExpandEv()">
              <span>
                <fa-icon [icon]="expand ? ['fas', 'close'] : ['fas', 'bars']"
                         [ngClass]="uiService.isLightMode() ? 'text-dark' : 'text-light'" class="h1">
                </fa-icon>
              </span>
    </button>
  </nav>
  <div *ngIf="expand && userService.isLoggedOut()"
       [ngClass]="uiService.isLightMode() ? 'bg-light text-dark' : 'bg-dark text-light'"
       class="sticky-top d-flex d-md-none border-bottom shadow-sm">
    <div class="list-group col-12 bg-dark">
      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <a
          [ngClass]="uiService.isLightMode() ? 'btn-light' : 'btn-dark'"
          class="btn"
          href="/login"
          type="button">
          Log in
        </a>
        <a
          [ngClass]="uiService.isLightMode() ? 'btn-light' : 'btn-dark'"
          class="btn"
          href="/registration"
          type="button">
          Sign up
        </a>

        <button
          [ngClass]="uiService.isLightMode() ? 'btn-light' : 'btn-dark'"
          class="btn"
          href="/registration"
          type="button"
          (click)="uiService.switchTheme()">
          <fa-icon [icon]="uiService.isLightMode() ? ['fas', 'moon'] : ['fas', 'sun']"
                   class="fa-2xl mx-1 pointer"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
