<div class="d-flex justify-content-center mt-3">
  <input type="checkbox" class="btn-check " id="new" [checked]="feedService.isRising()" (click)="setRising()" autocomplete="off">
  <label class="btn mx-2 btn-outline-primary" for="new">
    <fa-icon icon="arrow-trend-up" class="me-1"></fa-icon>
    Rising
  </label>
  <input type="checkbox" class="btn-check " id="rising" [checked]="feedService.isNew()" (click)="setNew()" autocomplete="off">
  <label class="btn mx-2 btn-outline-primary" for="rising">
    <fa-icon icon="sun" class="me-1"></fa-icon> New
  </label>
</div>
<ul [(ngModel)]="feed"
    ngDefaultControl
    infinite-scroll
    [infiniteScrollDistance]=1
    [infiniteScrollThrottle]=100
    (scrolled)="onScrollDown()"
    class="list-unstyled container"
>
  <li *ngFor="let post of feed">
    <a class="pointer text-decoration-none " (click)="navToPost(post.id)">
      <app-post [post]="post"></app-post>
    </a>
  </li>
</ul>
<style>
  .mce-notification {
    display: none !important;
  }
</style>

