<form
  enctype="multipart/form-data"
  class="my-3 rounded-3"
  (submit)="postReply()">
  <div class="d-flex row flex-row justify-content-around row">
    <img class="img col-12 col-sm-3 m-2" alt="image preview" *ngIf="replyData.image != null" [src]="previewImageUrl">
    <editor
      [(ngModel)]="replyData.content"
      name="post-reply"
      [init]="{
     height: 300,
     menubar: false,
     content_css: uiService.isLightMode() ? 'bootstrap' : 'dark',
     skin: uiService.isLightMode() ? 'bootstrap' : 'tinymce-5-dark',
     plugins:
       'advlist autolink lists link image charmap anchor save visualblocks media table paste code',
     toolbar:
       'undo redo | bold italic strikethrough superscript subscript | h1 h2 | bullist numlist link | styleselect fontselect fonsizeselect formatselect | hr blockquote | outdent indent | removeformat '
   }"
      class="d-inline-block col-12"
      [ngClass]="replyData.image != null ? 'col-sm-8' : ''"
    >
    </editor>
  </div>
  <div class="col-12 m-2 d-flex justify-content-between">
    <label [for]="imageInputId" class="btn btn-primary"
           [innerText]="replyData.image == null ? 'Choose an image (optional)' : replyData.image.name"></label>
    <input name="file" type="file" [id]="imageInputId" (change)="onFileSelected($event)"
           class="file-input d-inline-block visually-hidden" accept=".png, .jpg, .jpeg, .webp"/>
    <button type="submit"
            *ngIf="!isSubmit"
            class="btn btn-primary d-inline-block">
      Comment
    </button>
  </div>
</form>
<hr>
