<div class="container d-flex justify-content-center">
  <form class="col-12" (submit)="createPost()" #form="ngForm">
    <div class="mt-3 row mx-auto">
      <div class="col-6 d-flex">
        <label class="col-form-label me-2" for="title">Title</label>
        <input class="d-inline-block form-control"
               id="title"
               name="title"
               [ngClass]="uiService.isLightMode() ? 'bg-light text-dark' : 'bg-secondary text-light'"
               [(ngModel)]="model.title"
               min="1"
               max="256"
               required>
      </div>

      <div class="col-6">
        <app-search [isLockedUser]="true" [searchType]="searchType"></app-search>
      </div>
    </div>
    <app-reply [isSubmit]="true"></app-reply>
    <div
      *ngIf="errorMessage != null"
      [innerText]="errorMessage"
      class="alert alert-danger small mt-3 col6">
    </div>
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
