/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.pointer:hover {
  cursor: pointer;
}


.light-class::placeholder {
  color: var(--bs-light)!important;
}
.bg-black-pic {
  background-image: url("assets/images/black-bg.webp");
  background-repeat: repeat;
}
.bg-lightgray {
  background-color: #dae0e6;
}

.bg-darkless {
  background-color: #2d3034;
}
.tox-notifications-container {
  display: none !important;
}

.tox-statusbar__branding {
  display: none !important;
}

.pfp-icon {
  width: 32px;
  height: 32px;
}

.hover-dark-mode:hover {
  background-color: #2d3034;
}


.hover-light-text:hover {
  color: lightgray !important;
}
