<!--<form>-->
<div class="d-flex mx-1">
  <div class="input-group-prepend d-inline-block w-auto">
    <button class="btn dropdown-toggle"
            [ngClass]="uiService.isLightMode() ? 'btn-light' : 'btn-dark'"
            [disabled]="isLockedUser"
            type="button"
            (click)="expand = !expand"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      <small class="d-none d-md-inline-block">
        {{searchType | titlecase}}
      </small>
      <small class="d-inline-block d-md-none fw-bold">
        {{searchType | slice:0:1}}
      </small>
    </button>
    <div class="dropdown-menu"
         [ngClass]="expand ? 'show' : ''">
      <a class="dropdown-item" (click)="selectGroup()">Group</a>
      <a class="dropdown-item" (click)="selectUser()">User</a>
    </div>
  </div>
  <div class="col-10"
       (mouseover)="showDropdown=true;"
       (mouseleave)="showDropdown=false; result = null;"
  >
    <input type="text"
           [ngClass]="uiService.isLightMode() ? 'bg-light' : ['bg-secondary', 'light-class']"
           [style]="uiService.isLightMode() ? 'color:var(--bs-dark);' : 'color:var(--bs-light);'"
           [(ngModel)]="query"
           (ngModelChange)="queryFetch()"
           class="form-control col-12"
           aria-label="Search input with dropdown button">
    <div class="dropdown-menu show"
         [ngClass]="uiService.isLightMode() ? 'bg-light' : 'bg-dark'"
         *ngIf="showDropdown && query.length > 0">
      <div *ngFor="let res of result" class="mb-1">
        <a class="dropdown-item pointer"
           (click)="select(res)">
          <img class=" rounded-circle img pfp-icon mx-1"
               [src]="getImageSrc(res)"
          />
          <small class="text-decoration-none"
                 [ngClass]="uiService.isLightMode() ? 'link-dark' : 'link-light'">
            {{res.name}}
          </small>
        </a>
      </div>
    </div>
  </div>
  <!--</form>-->
</div>
