<div class="container text-center d-flex flex-column">
  <div class="mt-4">
    <h1 class="h1 fw-bolder ">{{stats!.totalRequest}}</h1>
    <h4>Total Requests</h4>
  </div>
  <hr>
  <div class="mt-4">
    <h1 class="h1 fw-bolder ">{{stats!.requestsInLastDay}}</h1>
    <h4>Requests is the last 24 hours</h4>
  </div>
  <hr>
  <div class="d-flex justify-content-around flex-column flex-lg-row">
    <div class="d-flex flex-column">
      <h1 class="h1 fw-bolder">Browsers</h1>
      <div class="mx-auto">
        <ngx-charts-pie-chart
          [results]="stats!.browserPercentages"
          [view]="[400,400]"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h1 class="h1 fw-bolder ">Platforms</h1>
      <div class="mx-auto">
        <ngx-charts-pie-chart
          [results]="stats!.platformPercentages"
          [view]="[400,400]"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
